@font-face {font-family: "Orbitron"; src:url("./fonts/Orbitron-Medium.ttf");}

.animation {
  text-align: center;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25%;
  padding-right: 25%;
}

.animation h1 {
  font: 300 50px/1 Orbitron, sans-serif;
  white-space: nowrap;
  color: whitesmoke;
}

.animation span {
  display: inline-block;
  animation: stretch 3.25s cubic-bezier(0.4, 1.4, 0.75, 0.9) 1;
  transform-origin: center;
}
.animation span:nth-of-type(1) {
  animation-delay: 0.25s;
}
.animation span:nth-of-type(3) {
  animation-delay: 0.5s;
}
.animation span:nth-of-type(5) {
  animation-delay: 0.75s;
}
.animation span:nth-of-type(7) {
  animation-delay: 1s;
}
.animation span:nth-of-type(9) {
  animation-delay: 1.25s;
}
.animation span:nth-of-type(11) {
  animation-delay: 1.5s;
}
.animation span:nth-of-type(13) {
  animation-delay: 1.75s;
}
.animation span:nth-of-type(15) {
  animation-delay: 2s;
}
.animation span:nth-of-type(17) {
  animation-delay: 2.25s;
}
.animation span:nth-of-type(19) {
  animation-delay: 2.5s;
}
.animation span:nth-of-type(21) {
  animation-delay: 2.75s;
}
.animation span:nth-of-type(23) {
  animation-delay: 3s;
}
.animation span:nth-of-type(25) {
  animation-delay: 3.25s;
}

@keyframes stretch {
  5% {
    transform: scaleX(5000);
    opacity: .1;
  }
  15% {
    transform: scaleX(1);
    opacity: 1;
  }
}
