@font-face {font-family: "Orbitron"; src:url("./fonts/Orbitron-Medium.ttf");}

.section {

}

.slide {
  margin: auto;
}

#zone1 {
  background-image: url('content/homepagebg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#zone2 {
  background-image: url('content/bg7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#zone3 {

}

#zone4 {
  background-image: url('content/bg5.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#zone5 {
  background-image: url('content/bg8.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#zone6 {
  background-image: url('content/bg9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#gallery1 {
  background-image: url('../images/gallery1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery2 {
  background-image: url('../images/gallery2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery3 {
  background-image: url('../images/gallery3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery4 {
  background-image: url('../images/gallery4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery5 {
  background-image: url('../images/gallery5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery6 {
  background-image: url('../images/gallery6.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery7 {
  background-image: url('../images/gallery7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery8 {
  background-image: url('../images/gallery8.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
    float: left;
    margin: auto;
    display: block;
    text-align: center;
}

.right {
    float: right;
    margin: auto;
    display: block;
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.logo {
  display: block;
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: -25%;*/
}

.main-player {
  border: 2px solid snow;
}

.twitch {
  height: 540px;
  padding: 0;
  margin: 0;
}

.twitch ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
}

.twitch li {
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 2px solid snow;
}

.dark-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.70);
  vertical-align: middle;
  display: table;
  table-layout: fixed;
}

.W70 {
  width: 70%;
  padding-left: 18%;
  padding-right: 13%;
}

.fixed-header {
  top: 5%;
  left: 25%;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: block;
  width: 50%;
  color: snow;
  font-size: 3em;
  font-weight: 700;
  border: 5px solid snow;
  text-align: center;
  z-index: 1000;
}
