.section {
  background-image: url('content/background.png');
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.item {
    flex-grow: 1;
    /*flex-shrink: 1;*/
    /*flex-basis: 3vw;*/
    flex-basis: 200px;
}

nav {

}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: left;
    background: linear-gradient(floralwhite, lightgrey);
    box-shadow: 0 3px 10px #888;
}

nav li {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 120%;
    line-height: 240%;
    text-align: center;
    font-weight: bold;
    font-family: inherit;
}

nav a {
    text-decoration: none;
    color: #555555;
    display: block;
    transition: .3s background;
    margin: 0;
    padding: 0;
}

nav a:hover {
    background: linear-gradient(lightgrey, darkgray);
}

.current-nav-element {
    background: linear-gradient(lightgrey, darkgray);
    color: #555555;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.left {
    float: left;
    margin: auto;
    display: block;
    width: 49%;
    text-align: center;
}

.right {
    float: right;
    margin: auto;
    display: block;
    width: 49%;
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.logo {
  height: 200px;
  width: 200px;
}
